body {
    
    background-image: url("../image/168470-OVJKJS-902.jpg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}
.contenido {
    margin-top: 50px;
}
h1 {
    color: black;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

form {
    background-color: transparent;
    padding: 50px;
}

.lista {
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #56CCF2; 
    background: rgb(219, 246, 255); 
}
.lista li:last-child{
    margin:0;
}

#generar-nombre{
    border-radius: 10px;
}


#licencia_imagen{
    text-align: right;    
}
